section {
    margin-top: 20px;
}

img {
    height: 100px;
}

.circle {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: -20px;
    border-radius: 100%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}